In [105]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import defaultdict
import codecs, json
import unicodedata
# pip install Unidecode  <OR> conda install Unidecode
import unidecode

In [106]:
#importing all csv files
domarar = pd.read_csv('csv/blak-domarar.csv', sep=';', header=0)
einstaklingar = pd.read_csv('csv/blak-einstaklingar.csv', sep=';', header=0)
forsvarsmenn = pd.read_csv('csv/blak-forsvarsmenn.csv', sep=';', header=0)
lid = pd.read_csv('csv/blak-lid.csv', sep=';', header=0)
lidimoti = pd.read_csv('csv/blak-lidimoti.csv', sep=';', header=0)
lidsmenn = pd.read_csv('csv/blak-lidsmenn.csv', sep=';', header=0)
lidsstjorar = pd.read_csv('csv/blak-lidsstjorar.csv', sep=';', header=0)
thjalfarar = pd.read_csv('csv/blak-thjalfarar.csv', sep=';', header=0)
mot = pd.read_csv('csv/blak-mot.csv', sep=';', header=0)

# drop all SyndarLids with an ID (SyndarlidID)
# (the reason for not dropping using SyndarLid is because I don't trust that column to be inserted correctly with [0,1])
lid = lid[lid['SyndarlidID'].isna()]
# then dropping those two columns because we don't want virtual teams
lid = lid.drop(columns=['SyndarLid', 'SyndarlidID'])

# All duplicated birthdays
duplicated_einstaklingar = einstaklingar[einstaklingar.duplicated(subset=['Nafn', 'Fdagur', 'Kyn'], keep=False)]
duplicated_fdagur_kyn_einstaklingar = einstaklingar[einstaklingar.duplicated(subset=['Fdagur', 'Kyn'], keep=False)]

In [107]:
# Add all entries that have duplicated birthdays, then filter that to first_name->birthday-><people entries>
duplicate_dict = defaultdict(dict)
for index, row in duplicated_fdagur_kyn_einstaklingar.iterrows():
    full_name = row['Nafn']
    #only get the first part of full name 
    first_name = full_name.split()[0]
    # make first name lowercase
    first_name_lowercase = first_name.lower()
    # encode icelandic letters to english
    first_name_to_english = unidecode.unidecode(first_name_lowercase)
    # split birthday into year month and day and ignore second part (sec, min, hour)
    Fdagur_date = row['Fdagur'].split()[0]
    
    if first_name_to_english in duplicate_dict.keys():
        if Fdagur_date in duplicate_dict[first_name_to_english].keys():
            #if first name and Fdagur (birthday) exist in dict then append to that key (birthday)
            duplicate_dict[first_name_to_english][Fdagur_date].append(row.values)
        else:
            #if first name exists but Fdagur (birthday) does not exist in dict
            duplicate_dict[first_name_to_english][Fdagur_date] = [row.values]
    else:
        #if Fdagur (birthday) does not exist in dict
        duplicate_dict[first_name_to_english][Fdagur_date] = [row.values]

In [108]:
# Remove all single birthday entries that are not duplicates
dict_removed_single_entries = defaultdict(dict)

for key, values in duplicate_dict.items():
    # key = nafn ('ludvik')
    for birthday, arrays in dict(values).items():
        # only get duplicates that there exists 2 or more entries for a birthday
        if(len(arrays) > 1):
            # used for when joining teams table
            duplicate_ids_keept.append(arrays[0][0])
            if key in dict_removed_single_entries.keys():
                if birthday in dict_removed_single_entries[key].keys():
                    dict_removed_single_entries[key][birthday].append(arrays)
                else:
                    #if first name exists but Fdagur (birthday) does not exist in dict
                    dict_removed_single_entries[key][birthday] = arrays
            else:
                dict_removed_single_entries[key][birthday] = arrays

In [109]:
# get all ids in dict_removed_single_entries
duplicate_ids_keept = []
for key, values in dict_removed_single_entries.items():
    # key = nafn ('ludvik')
    for birthday, arrays in dict(values).items():
        for item in arrays:
            duplicate_ids_keept.append(item[0])

In [112]:
#duplicate_dict['aldis']

In [113]:
#dict_removed_single_entries.values()
#duplicate_row_keept

In [115]:
# Checking if two names are the same person
dict_duplicate_compare_team_members = defaultdict(dict)
for index, row in lidsmenn.iterrows():
    ids = row["EinstID"]
    if ids in duplicate_ids_keept:
        # now we only view ids that exist for duplicated people
        #print(ids)
        if ids in dict_duplicate_compare_team_members.keys():
            dict_duplicate_compare_team_members[ids].append(row.values)
        else:
            dict_duplicate_compare_team_members[ids] = [row.values]

In [116]:
dict_duplicate_compare_team_members

defaultdict(dict,
            {483: [array([1, 18, 483, '2000-04-30 10:04:24.983'], dtype=object),
              array([91, 1830, 483, '2006-04-25 15:50:39.420'], dtype=object)],
             570: [array([1, 18, 570, '2000-04-01 08:56:25.153'], dtype=object),
              array([2, 18, 570, '2001-04-06 10:31:00.870'], dtype=object),
              array([8, 18, 570, '2001-12-28 16:16:45.827'], dtype=object),
              array([15, 18, 570, '2002-05-01 21:24:27.903'], dtype=object),
              array([68, 18, 570, '2005-03-30 11:34:24.217'], dtype=object),
              array([189, 762, 570, '2011-02-19 14:16:56.450'], dtype=object)],
             614: [array([1, 18, 614, '2000-04-03 10:56:57.543'], dtype=object),
              array([2, 18, 614, '2001-04-06 10:31:00.870'], dtype=object),
              array([8, 18, 614, '2001-12-28 16:16:45.827'], dtype=object),
              array([15, 18, 614, '2002-05-01 21:22:25.310'], dtype=object),
              array([68, 18, 614, '2005-03-30 11:34:24.217'], dtype=object),
              array([91, 18, 614, '2006-03-30 16:59:01.780'], dtype=object),
              array([109, 18, 614, '2007-04-04 15:59:32.420'], dtype=object)],
             97: [array([1, 19, 97, '2000-03-30 12:29:59.507'], dtype=object),
              array([2, 19, 97, '2001-04-06 19:45:16.540'], dtype=object),
              array([6, 19, 97, '2001-11-13 09:55:32.547'], dtype=object),
              array([11, 584, 97, '2002-02-27 09:40:51.077'], dtype=object),
              array([15, 584, 97, '2002-04-03 17:02:10.153'], dtype=object),
              array([28, 584, 97, '2003-01-08 19:58:29.753'], dtype=object),
              array([34, 19, 97, '2003-04-09 13:37:57.327'], dtype=object),
              array([54, 19, 97, '2004-03-30 12:32:19.343'], dtype=object),
              array([68, 19, 97, '2005-04-05 12:05:04.513'], dtype=object),
              array([71, 19, 97, '2005-01-06 11:29:34.840'], dtype=object),
              array([91, 19, 97, '2006-04-03 22:02:45.170'], dtype=object),
              array([109, 19, 97, '2007-03-29 12:53:18.747'], dtype=object),
              array([111, 3007, 97, '2007-07-04 20:58:30.047'], dtype=object),
              array([118, 19, 97, '2008-01-24 10:58:52.780'], dtype=object),
              array([121, 19, 97, '2008-03-27 11:46:43.107'], dtype=object),
              array([138, 19, 97, '2009-03-24 18:13:32.560'], dtype=object),
              array([144, 3874, 97, '2009-07-05 18:15:55.450'], dtype=object),
              array([148, 1459, 97, '2010-02-03 22:25:27.233'], dtype=object),
              array([161, 19, 97, '2010-01-07 01:40:51.043'], dtype=object),
              array([165, 584, 97, '2010-04-14 22:34:11.357'], dtype=object),
              array([188, 1459, 97, '2011-03-29 22:15:34.390'], dtype=object),
              array([189, 1692, 97, '2011-04-29 13:59:48.247'], dtype=object),
              array([193, 584, 97, '2011-11-22 11:29:23.953'], dtype=object),
              array([198, 1459, 97, '2012-01-19 13:43:04.237'], dtype=object),
              array([199, 1692, 97, '2012-04-23 20:39:38.723'], dtype=object),
              array([203, 19, 97, '2012-01-02 22:12:59.913'], dtype=object),
              array([208, 1459, 97, '2012-02-21 07:27:47.460'], dtype=object),
              array([226, 1459, 97, '2013-01-22 09:25:36.147'], dtype=object),
              array([230, 1692, 97, '2013-04-18 23:14:26.393'], dtype=object),
              array([249, 584, 97, '2014-04-17 22:58:48.403'], dtype=object)],
             255: [array([1, 19, 255, '2000-04-30 20:27:37.713'], dtype=object),
              array([2, 19, 255, '2001-04-06 19:45:16.540'], dtype=object),
              array([6, 19, 255, '2001-11-13 09:55:32.547'], dtype=object),
              array([11, 584, 255, '2002-02-27 09:38:41.483'], dtype=object),
              array([15, 584, 255, '2002-04-03 17:02:44.750'], dtype=object),
              array([28, 584, 255, '2003-01-08 19:58:29.753'], dtype=object),
              array([34, 19, 255, '2003-04-09 13:37:53.093'], dtype=object),
              array([54, 19, 255, '2004-03-30 12:32:19.343'], dtype=object),
              array([68, 19, 255, '2005-04-05 12:05:04.513'], dtype=object),
              array([71, 19, 255, '2005-01-06 11:29:34.840'], dtype=object),
              array([91, 19, 255, '2006-04-03 22:02:45.170'], dtype=object),
              array([109, 19, 255, '2007-03-29 12:53:12.293'], dtype=object),
              array([118, 19, 255, '2008-01-24 10:58:52.780'], dtype=object),
              array([119, 1019, 255, '2008-01-08 23:50:25.780'], dtype=object),
              array([121, 19, 255, '2008-03-27 11:46:34.983'], dtype=object),
              array([144, 3874, 255, '2009-07-05 18:19:50.640'], dtype=object),
              array([179, 1459, 255, '2011-01-31 23:15:12.920'], dtype=object),
              array([180, 1459, 255, '2010-11-10 22:08:18.360'], dtype=object),
              array([181, 1459, 255, '2011-02-24 13:40:35.123'], dtype=object),
              array([186, 1459, 255, '2010-12-30 22:49:20.343'], dtype=object),
              array([189, 1692, 255, '2011-04-23 19:16:02.343'], dtype=object),
              array([193, 584, 255, '2011-11-22 11:27:40.080'], dtype=object),
              array([199, 1692, 255, '2012-04-19 21:50:48.863'], dtype=object),
              array([203, 19, 255, '2012-01-02 22:12:27.913'], dtype=object),
              array([208, 1459, 255, '2012-02-21 07:31:25.473'], dtype=object),
              array([226, 1459, 255, '2013-01-22 09:25:36.147'], dtype=object),
              array([230, 19, 255, '2013-04-18 23:09:00.457'], dtype=object),
              array([249, 584, 255, '2014-04-17 22:53:52.577'], dtype=object)],
             557: [array([1, 19, 557, '2000-03-30 12:33:54.873'], dtype=object),
              array([2, 19, 557, '2001-04-06 19:45:16.540'], dtype=object),
              array([6, 19, 557, '2001-11-13 09:55:32.547'], dtype=object),
              array([11, 584, 557, '2002-02-27 09:39:56.467'], dtype=object),
              array([15, 584, 557, '2002-04-03 17:03:29.280'], dtype=object),
              array([28, 584, 557, '2003-01-08 19:58:29.753'], dtype=object),
              array([34, 19, 557, '2003-04-09 13:37:44.030'], dtype=object),
              array([54, 19, 557, '2004-03-30 12:32:19.343'], dtype=object),
              array([71, 19, 557, '2005-01-06 11:29:34.840'], dtype=object),
              array([109, 19, 557, '2007-03-29 12:53:07.860'], dtype=object),
              array([118, 19, 557, '2008-01-24 10:58:52.780'], dtype=object),
              array([121, 19, 557, '2008-04-16 16:49:40.873'], dtype=object),
              array([138, 19, 557, '2009-03-24 18:13:32.560'], dtype=object),
              array([161, 19, 557, '2010-01-07 01:40:51.043'], dtype=object),
              array([165, 584, 557, '2010-04-14 22:34:11.357'], dtype=object)],
             149: [array([1, 22, 149, '2000-04-29 23:13:49.467'], dtype=object),
              array([53, 22, 149, '2004-03-02 21:22:33.687'], dtype=object),
              array([67, 22, 149, '2004-10-27 20:49:29.620'], dtype=object)],
             577: [array([1, 22, 577, '2000-04-29 23:12:35.070'], dtype=object)],
             214: [array([1, 23, 214, '2000-05-01 10:23:37.780'], dtype=object),
              array([22, 1073, 214, '2002-11-07 21:09:04.933'], dtype=object),
              array([34, 1073, 214, '2003-04-19 17:05:11.247'], dtype=object)],
             316: [array([1, 23, 316, '2000-05-01 10:19:34.840'], dtype=object),
              array([22, 1073, 316, '2002-11-07 21:12:53.403'], dtype=object),
              array([34, 1073, 316, '2003-04-19 16:58:08.763'], dtype=object),
              array([142, 3033, 316, '2009-04-16 09:12:23.467'], dtype=object),
              array([165, 88, 316, '2010-05-04 15:50:45.577'], dtype=object),
              array([189, 88, 316, '2011-03-31 11:28:35.733'], dtype=object),
              array([194, 4168, 316, '2011-12-05 21:56:20.433'], dtype=object),
              array([196, 3033, 316, '2011-09-23 17:41:35.043'], dtype=object),
              array([199, 4176, 316, '2012-04-27 12:46:42.870'], dtype=object),
              array([232, 4172, 316, '2014-01-09 12:37:15.490'], dtype=object)],
             340: [array([1, 23, 340, '2000-05-01 10:22:43.520'], dtype=object),
              array([15, 23, 340, '2002-03-29 21:50:53.247'], dtype=object),
              array([22, 1073, 340, '2002-11-07 21:15:48.543'], dtype=object),
              array([34, 1209, 340, '2003-04-16 13:19:31.450'], dtype=object),
              array([39, 23, 340, '2003-02-07 17:32:15.950'], dtype=object),
              array([54, 1209, 340, '2004-03-31 15:50:29.233'], dtype=object),
              array([68, 1073, 340, '2005-04-14 11:45:28.373'], dtype=object),
              array([138, 1018, 340, '2009-04-10 21:50:24.403'], dtype=object)],
             469: [array([1, 23, 469, '2000-05-01 10:21:31.797'], dtype=object)],
             304: [array([1, 26, 304, '2000-04-30 20:40:47.017'], dtype=object),
              array([15, 114, 304, '2002-04-29 21:15:19.030'], dtype=object),
              array([33, 765, 304, '2003-03-02 16:59:36.140'], dtype=object),
              array([38, 765, 304, '2003-03-02 23:27:32.700'], dtype=object),
              array([65, 1579, 304, '2004-10-20 22:49:29.327'], dtype=object),
              array([83, 2072, 304, '2005-10-21 21:15:29.013'], dtype=object),
              array([87, 2072, 304, '2006-01-27 13:56:34.733'], dtype=object),
              array([91, 2072, 304, '2006-04-24 10:04:58.467'], dtype=object),
              array([104, 2072, 304, '2007-01-25 09:27:40.543'], dtype=object),
              array([106, 26, 304, '2007-02-28 11:16:00.123'], dtype=object),
              array([109, 765, 304, '2007-03-28 15:46:07.920'], dtype=object),
              array([121, 765, 304, '2008-04-24 23:01:21.090'], dtype=object),
              array([139, 26, 304, '2009-03-05 15:11:13.233'], dtype=object),
              array([159, 26, 304, '2009-11-03 18:49:56.513'], dtype=object),
              array([189, 765, 304, '2011-03-28 14:40:21.297'], dtype=object),
              array([230, 765, 304, '2013-03-27 09:20:12.147'], dtype=object),
              array([249, 765, 304, '2014-03-21 09:24:54.893'], dtype=object)],
             411: [array([1, 27, 411, '2000-04-30 16:00:13.360'], dtype=object),
              array([2, 71, 411, '2001-04-26 22:44:12.680'], dtype=object),
              array([8, 27, 411, '2002-01-01 12:39:48.590'], dtype=object),
              array([15, 71, 411, '2002-05-03 14:51:35.920'], dtype=object),
              array([34, 1014, 411, '2003-04-25 14:40:42.873'], dtype=object)],
             133: [array([1, 28, 133, '2000-03-31 16:36:03.150'], dtype=object),
              array([2, 28, 133, '2001-04-11 11:03:12.160'], dtype=object),
              array([15, 85, 133, '2002-04-11 19:46:54.513'], dtype=object),
              array([28, 85, 133, '2003-01-09 08:26:07.290'], dtype=object),
              array([34, 88, 133, '2003-04-03 10:15:24.920'], dtype=object),
              array([39, 85, 133, '2003-02-07 17:35:54.827'], dtype=object),
              array([121, 88, 133, '2008-04-15 12:51:25.623'], dtype=object),
              array([138, 88, 133, '2009-03-03 15:13:50.670'], dtype=object),
              array([189, 2691, 133, '2011-04-07 13:50:50.403'], dtype=object),
              array([195, 2692, 133, '2012-02-01 23:29:25.170'], dtype=object),
              array([199, 2691, 133, '2012-03-27 23:03:56.637'], dtype=object),
              array([248, 2691, 133, '2014-03-18 15:29:09.973'], dtype=object)],
             366: [array([1, 28, 366, '2000-03-31 16:33:12.787'], dtype=object),
              array([2, 85, 366, '2001-04-19 00:08:52.563'], dtype=object),
              array([34, 70, 366, '2003-04-03 10:21:55.467'], dtype=object),
              array([54, 70, 366, '2004-03-30 10:01:42.873'], dtype=object),
              array([68, 70, 366, '2005-04-04 11:26:40.200'], dtype=object),
              array([91, 70, 366, '2006-04-02 00:12:01.217'], dtype=object),
              array([95, 70, 366, '2006-04-05 10:15:48.090'], dtype=object),
              array([109, 70, 366, '2007-03-27 13:53:10.717'], dtype=object),
              array([110, 70, 366, '2007-04-11 14:05:17.937'], dtype=object),
              array([165, 70, 366, '2010-05-04 15:43:52.967'], dtype=object),
              array([183, 70, 366, '2011-04-04 14:02:08.140'], dtype=object)],
             90: [array([1, 29, 90, '2000-05-01 10:28:04.773'], dtype=object),
              array([34, 1073, 90, '2003-04-27 21:49:04.793'], dtype=object),
              array([54, 1018, 90, '2004-04-06 14:46:47.763'], dtype=object)],
             467: [array([1, 29, 467, '2000-05-01 10:31:23.640'], dtype=object),
              array([34, 1209, 467, '2003-04-16 13:24:29.810'], dtype=object),
              array([54, 1209, 467, '2004-03-31 15:50:29.233'], dtype=object),
              array([68, 1073, 467, '2005-04-14 11:48:02.843'], dtype=object),
              array([102, 84, 467, '2007-01-10 21:38:42.623'], dtype=object)],
             549: [array([1, 29, 549, '2000-05-01 10:29:24.800'], dtype=object),
              array([34, 28, 549, '2003-04-25 09:52:14.560'], dtype=object),
              array([68, 2240, 549, '2005-04-04 18:16:01.233'], dtype=object),
              array([109, 28, 549, '2007-03-21 19:49:59.623'], dtype=object),
              array([121, 28, 549, '2008-03-25 09:21:59.357'], dtype=object),
              array([138, 28, 549, '2009-03-31 22:49:50.793'], dtype=object),
              array([165, 28, 549, '2010-03-05 15:29:02.560'], dtype=object)],
             586: [array([1, 29, 586, '2000-05-01 10:30:30.170'], dtype=object),
              array([34, 1073, 586, '2003-04-19 17:00:10.123'], dtype=object),
              array([230, 4442, 586, '2013-04-12 21:16:13.230'], dtype=object)],
             648: [array([1, 29, 648, '2000-05-01 10:32:00.940'], dtype=object),
              array([23, 156, 648, '2002-09-28 19:54:45.013'], dtype=object),
              array([109, 1843, 648, '2007-03-27 11:56:54.653'], dtype=object),
              array([121, 1843, 648, '2008-03-31 22:51:01.123'], dtype=object),
              array([138, 1843, 648, '2009-03-28 14:30:26.747'], dtype=object),
              array([165, 4444, 648, '2010-05-04 20:10:55.623'], dtype=object),
              array([189, 4442, 648, '2011-04-04 22:30:54.327'], dtype=object),
              array([215, 4252, 648, '2012-10-26 12:13:11.323'], dtype=object)],
             515: [array([1, 34, 515, '2000-04-30 11:23:21.997'], dtype=object),
              array([34, 34, 515, '2003-04-16 21:29:52.233'], dtype=object),
              array([54, 34, 515, '2004-03-30 20:26:07.920'], dtype=object)],
             628: [array([1, 34, 628, '2000-04-28 22:29:39.137'], dtype=object),
              array([2, 34, 628, '2001-04-03 22:33:41.800'], dtype=object),
              array([6, 34, 628, '2001-11-13 15:55:45.873'], dtype=object),
              array([15, 34, 628, '2002-04-15 13:19:40.593'], dtype=object),
              array([54, 34, 628, '2004-03-30 20:29:55.107'], dtype=object),
              array([68, 34, 628, '2005-04-16 21:45:30.810'], dtype=object),
              array([91, 34, 628, '2006-04-14 19:29:37.983'], dtype=object),
              array([109, 34, 628, '2007-03-14 13:25:40.093'], dtype=object),
              array([220, 5604, 628, '2012-10-17 09:56:02.143'], dtype=object),
              array([226, 5604, 628, '2013-01-23 09:07:16.527'], dtype=object),
              array([230, 5604, 628, '2013-03-15 12:12:02.280'], dtype=object),
              array([247, 5604, 628, '2014-04-02 21:51:16.453'], dtype=object),
              array([249, 5604, 628, '2014-04-02 22:10:43.617'], dtype=object)],
             288: [array([1, 35, 288, '2000-05-03 23:25:21.420'], dtype=object),
              array([2, 35, 288, '2001-04-13 14:50:02.160'], dtype=object),
              array([15, 512, 288, '2002-04-16 19:51:07.030'], dtype=object),
              array([34, 512, 288, '2003-04-15 15:52:55.907'], dtype=object),
              array([54, 35, 288, '2004-03-28 16:53:33.140'], dtype=object),
              array([68, 512, 288, '2005-04-20 11:12:38.763'], dtype=object),
              array([91, 1953, 288, '2006-03-31 11:10:44.733'], dtype=object),
              array([102, 2873, 288, '2007-01-03 15:10:08.000'], dtype=object),
              array([109, 2873, 288, '2007-04-02 23:16:49.653'], dtype=object),
              array([153, 4264, 288, '2010-01-12 21:34:44.357'], dtype=object),
              array([230, 4264, 288, '2013-03-27 14:25:26.263'], dtype=object)],
             327: [array([1, 35, 327, '2000-05-03 23:22:58.017'], dtype=object),
              array([2, 35, 327, '2001-04-13 14:50:02.160'], dtype=object),
              array([72, 132, 327, '2004-12-28 21:06:28.277'], dtype=object),
              array([86, 132, 327, '2006-01-10 13:13:06.340'], dtype=object),
              array([109, 132, 327, '2007-04-23 13:47:11.717'], dtype=object),
              array([119, 132, 327, '2008-01-09 14:42:59.810'], dtype=object),
              array([121, 132, 327, '2008-04-01 13:43:52.873'], dtype=object),
              array([137, 132, 327, '2009-01-08 20:42:34.593'], dtype=object),
              array([153, 132, 327, '2010-01-13 13:23:09.247'], dtype=object),
              array([230, 132, 327, '2013-04-18 23:28:49.230'], dtype=object)],
             541: [array([1, 35, 541, '2000-05-03 23:24:41.393'], dtype=object),
              array([2, 35, 541, '2001-04-13 14:50:02.160'], dtype=object),
              array([15, 853, 541, '2002-05-04 19:14:28.530'], dtype=object),
              array([72, 132, 541, '2004-12-28 21:02:38.183'], dtype=object),
              array([102, 2873, 541, '2007-01-05 11:09:30.640'], dtype=object),
              array([109, 2873, 541, '2007-04-02 23:16:49.653'], dtype=object)],
             559: [array([1, 35, 559, '2000-05-03 23:23:14.580'], dtype=object),
              array([2, 35, 559, '2001-04-13 14:50:02.160'], dtype=object),
              array([15, 512, 559, '2002-04-16 19:48:50.000'], dtype=object),
              array([34, 512, 559, '2003-04-15 15:49:30.373'], dtype=object),
              array([54, 35, 559, '2004-03-28 16:46:38.657'], dtype=object)],
             131: [array([1, 36, 131, '2000-04-29 11:41:13.653'], dtype=object),
              array([2, 36, 131, '2001-04-07 21:25:20.940'], dtype=object),
              array([28, 36, 131, '2003-01-09 09:47:01.737'], dtype=object),
              array([34, 36, 131, '2003-03-31 22:38:47.810'], dtype=object),
              array([43, 1460, 131, '2003-11-04 13:57:38.340'], dtype=object),
              array([49, 36, 131, '2004-01-05 20:07:30.450'], dtype=object),
              array([67, 1460, 131, '2004-11-01 16:40:00.233'], dtype=object)],
             281: [array([1, 37, 281, '2000-05-01 21:34:16.790'], dtype=object),
              array([2, 37, 281, '2001-04-07 14:44:21.183'], dtype=object),
              array([15, 37, 281, '2002-03-07 21:34:39.607'], dtype=object),
              array([34, 37, 281, '2003-03-12 22:53:00.060'], dtype=object),
              array([54, 37, 281, '2004-03-24 22:04:02.280'], dtype=object),
              array([68, 37, 281, '2005-04-05 10:35:14.967'], dtype=object),
              array([91, 37, 281, '2006-03-20 21:20:52.450'], dtype=object),
              array([109, 37, 281, '2007-04-09 21:16:10.810'], dtype=object),
              array([144, 3868, 281, '2009-07-19 16:32:11.483'], dtype=object),
              array([246, 3179, 281, '2014-01-06 16:44:05.713'], dtype=object),
              array([249, 37, 281, '2014-03-26 15:38:16.250'], dtype=object)],
             547: [array([1, 37, 547, '2000-05-01 21:29:21.803'], dtype=object),
              array([2, 37, 547, '2001-04-07 14:44:21.183'], dtype=object),
              array([15, 37, 547, '2002-03-07 21:34:39.607'], dtype=object),

In [69]:
for key, value in dict_removed_single_entries.items():
    #get key and arrays for each person
    for dict_key, dict_value in dict(value).items():
        #get each array for person
        print("KEY: " + key + " BIRTHDAY: " + dict_key)
        for a in dict_value:
            print(a)
        print("--------------")

KEY: adalsteinn BIRTHDAY: 1981-03-03
[1964 'Aalsteinn Eymundsson' '1981-03-03 00:00:00.000' 'kk ' nan nan nan
 nan nan '8212554' nan nan '2006-01-09 20:31:04.420' nan]
[1437 'Aalsteinn Eymundsson' '1981-03-03 00:00:00.000' 'kk ' 'HK'
 'adalste@hi.is' nan nan nan '6182554' nan nan '2003-10-11 19:12:00.827'
 0.0]
--------------
KEY: aldis BIRTHDAY: 1996-06-22
[2949 'alds anna hskuldsdttir' '1996-06-22 00:00:00.000' 'kvk' 'K.A.'
 'aldis_anna@hotmail.com' nan nan nan '8681980' '4611143' nan
 '2010-02-25 13:52:40.360' 169.0]
[2950 'alds anna hskuldsdttir' '1996-06-22 00:00:00.000' 'kvk' 'K.A.'
 'aldis_anna@hotmail.com' nan nan nan '8681980' '4611143' nan
 '2010-02-25 13:52:42.780' 169.0]
--------------
KEY: alexander BIRTHDAY: 1990-12-05
[1578 'Alexander Stefnsson' '1990-12-05 00:00:00.000' 'kk ' 'HK'
 'alexanderstef@gmail.com' nan nan nan '8464158' '4626693' nan
 '2004-08-20 23:05:27.997' nan]
[2498 'Alexander Stefnsson' '1990-12-05 00:00:00.000' 'kk ' 'HK' nan nan
 nan nan '846 4158' nan nan '2008-08-31 20:01:58.013' 194.0]
--------------
KEY: alma BIRTHDAY: 1961-03-05
[90 'Alma ormsdttir' '1961-03-05 00:00:00.000' 'kvk'
 'rttur Neskaupsta' nan nan nan nan nan nan nan
 '2000-05-01 10:28:04.763' nan]
[1028 'Alma ormsdttir' '1961-03-05 00:00:00.000' 'kvk' 'j' nan nan
 nan nan nan nan nan '2002-03-29 22:01:43.780' nan]
--------------
KEY: alma BIRTHDAY: 1964-10-09
[3706 'Alma rarinsdttir' '1964-10-09 00:00:00.000' 'kvk' 'Sindri' nan
 nan nan nan nan nan nan '2012-03-23 14:47:54.610' 0.0]
[192 'Alma risdttir' '1964-10-09 00:00:00.000' 'kvk' nan nan nan nan
 nan nan '4781526' nan '2000-04-04 10:16:11.017' nan]
--------------
KEY: ana BIRTHDAY: 1972-01-29
[2065 'Ana Fernandez Perez' '1972-01-29 00:00:00.000' 'kvk' nan nan nan
 nan nan '8980881' '5516181' nan '2006-04-03 23:06:18.890' nan]
[3226 'Ana Maria Perez' '1972-01-29 00:00:00.000' 'kvk' nan nan nan nan
 nan nan nan nan '2010-10-14 09:50:09.920' 0.0]
--------------
KEY: andres BIRTHDAY: 1967-09-16
[2137 'Andrs Helgi Hallgrmsson' '1967-09-16 00:00:00.000' 'kk ' 'Fylkir'
 nan nan nan nan nan nan nan '2007-01-05 11:48:15.107' 0.0]
[2129 'Andrs Helgi Magnsson' '1967-09-16 00:00:00.000' 'kk ' nan nan nan
 nan nan nan nan nan '2007-01-05 09:54:37.043' nan]
--------------
KEY: andri BIRTHDAY: 1979-04-10
[1629 'Andri Geir Viarsson' '1979-04-10 00:00:00.000' 'kk ' nan
 'andrigeir@hotmail.com' nan nan nan '8487077' nan nan
 '2004-11-15 23:06:15.307' nan]
[3741 'Andri Geir Viarsson' '1979-04-10 00:00:00.000' 'kk ' 'KA'
 'andrigeir@hotmail.com' nan nan nan '8487077' '4614101' '4623063'
 '2012-03-28 14:42:17.043' 182.0]
--------------
KEY: andri BIRTHDAY: 1989-05-23
[1227 'Andri Mr Sigursson' '1989-05-23 00:00:00.000' 'kk ' 'KA' nan nan
 nan nan nan '462-7879' nan '2002-11-04 13:04:19.983' nan]
[2497 'Andri Mr Sigursson' '1989-05-23 00:00:00.000' 'kk ' 'KA' nan nan
 nan nan nan nan nan '2008-08-31 20:01:18.297' 193.0]
--------------
KEY: anna BIRTHDAY: 1970-12-26
[2420 'Anna Gurn Auunsdttir' '1970-12-26 00:00:00.000' 'kvk' nan
 'anna@tryggingamidstodin.is' nan nan nan '8671946' nan nan
 '2008-04-02 15:16:31.513' nan]
[2419 'Anna Gurn Auunsdttir' '1970-12-26 00:00:00.000' 'kvk'
 'Afturelding' 'anna@heima.is' nan nan nan '8671946' nan nan
 '2008-04-02 15:15:40.857' nan]
--------------
KEY: anna BIRTHDAY: 1972-05-30
[1769 'ANNA GUNNARSD' '1972-05-30 00:00:00.000' 'kvk' nan nan nan nan nan
 '8489048' nan nan '2005-03-29 17:36:52.577' nan]
[1770 'ANNA gunnarsd' '1972-05-30 00:00:00.000' 'kvk' nan nan nan nan nan
 '8489048' nan nan '2005-03-29 17:37:53.933' nan]
[1771 'anna gunnarsd' '1972-05-30 00:00:00.000' 'kvk' nan nan nan nan nan
 '8489048' nan nan '2005-03-29 17:38:51.683' nan]
[1766 'Anna h gunnarsd' '1972-05-30 00:00:00.000' 'kvk' nan nan nan nan
 nan '8489048' nan nan '2005-03-29 13:56:01.373' nan]
[1768 'Anna H Gunnarsdttir' '1972-05-30 00:00:00.000' 'kvk' nan nan nan
 nan nan '8489048' nan nan '2005-03-29 14:03:03.560' nan]
[1765 'anna hermina gunnarsd' '1972-05-30 00:00:00.000' 'kvk' nan
 'gold@visir.is' nan nan nan '8489048' nan nan '2005-03-29 13:52:25.593'
 nan]
[1767 'anna hermna gunnarsdttir' '1972-05-30 00:00:00.000' 'kvk' nan
 'gold@visir.is' nan nan nan '8489048' nan nan '2005-03-29 14:01:29.200'
 nan]
--------------
KEY: anna BIRTHDAY: 1978-05-03
[3099 'Anna Kristjnsdttir' '1978-05-03 00:00:00.000' 'kvk' nan
 'anna@stefnir.com' nan nan nan '8567461' nan nan
 '2010-04-15 10:09:34.467' 160.0]
[3225 'Anna Kristjnsdttir' '1978-05-03 00:00:00.000' 'kvk' nan nan nan
 nan nan nan nan nan '2010-10-14 09:49:11.560' 0.0]
--------------
KEY: anna BIRTHDAY: 1969-10-02
[1723 'Anna Lrusdttir' '1969-10-02 00:00:00.000' 'kvk'
 'rttabandalag Akraness' 'annalar@isl.is' nan nan nan nan '4314320' nan
 '2005-03-14 10:07:45.713' nan]
[2157 'Anna Lrusdttir' '1969-10-02 00:00:00.000' 'kvk' nan
 'anna@grundaskoli.is' nan nan nan '8649865' nan nan
 '2007-01-24 22:52:16.403' nan]
--------------
KEY: anna BIRTHDAY: 1957-02-23
[1469 'Anna M Jnsdttir' '1957-02-23 00:00:00.000' 'kvk' nan nan nan nan
 nan '8211774' nan nan '2004-02-17 21:27:26.153' nan]
[715 'Anna Marie Jnsdttir' '1957-02-23 00:00:00.000' 'kvk' nan nan nan
 nan nan '8211774' '4671774' '4671150' '2001-04-06 13:31:56.250' nan]
--------------
KEY: anna BIRTHDAY: 1973-10-17
[716 'Anna Mara Bjrnsdttir' '1973-10-17 00:00:00.000' 'kvk' nan
 'oskar@mtr.is' nan nan nan '6998817' nan nan '2001-04-06 13:34:07.300'
 nan]
[712 'Anna Mara Bjrnsdttir' '1973-10-17 00:00:00.000' 'kvk' nan nan nan
 nan nan '6998817' nan nan '2001-04-06 12:40:01.567' nan]
[713 'Anna Mara Bjrnsdttir' '1973-10-17 00:00:00.000' 'kvk' nan nan nan
 nan nan '6998817' nan nan '2001-04-06 12:41:12.203' nan]
[1981 'Anna Mara Bjrnsdttir' '1973-10-17 00:00:00.000' 'kvk' nan nan
 nan nan nan '6998817' nan nan '2006-02-08 11:42:15.390' nan]
[817 'Anna Mara Bjrnsdttir' '1973-10-17 00:00:00.000' 'kvk' nan nan nan
 nan nan '6998817' nan nan '2001-04-14 19:55:05.733' 0.0]
[3220 'Anna Mara Bjrnsdttir' '1973-10-17 00:00:00.000' 'kvk' nan nan
 nan nan nan '6998817' nan nan '2010-10-11 21:00:31.687' nan]
[3356 'Anna Mara Bjrnsdttir' '1973-10-17 00:00:00.000' 'kvk' nan
 'annambj@hotmail.com' nan nan nan '699-8817' nan nan
 '2011-03-23 23:36:57.123' nan]
[4376 'Anna Mara Bjrnsdttir' '1973-10-17 00:00:00.000' 'kvk' nan
 'oskar@mtr.is' nan nan nan '6998817' nan nan '2014-01-26 22:40:46.283'
 nan]
[4377 'Anna Mara Bjrnsdttir' '1973-10-17 00:00:00.000' 'kvk' nan
 'oskar@mtr.is' nan nan nan '6998817' nan nan '2014-01-26 22:44:41.217'
 nan]
--------------
KEY: anna BIRTHDAY: 1966-11-11
[1637 'Anna Mara Malmquist' '1966-11-11 00:00:00.000' 'kvk' nan
 'annamaria@solarplexus.is' nan nan nan '6609883' '5578663' '4626888'
 '2004-11-17 16:34:33.887' nan]
[1814 'Anna Mara Malmquist' '1966-11-11 00:00:00.000' 'kvk' nan nan nan
 nan nan '660-9883' '557-8663' nan '2005-04-06 08:34:49.873' nan]
--------------
KEY: anna BIRTHDAY: 1981-10-19
[2868 'Anna Soffa Sigurlaugsdttir' '1981-10-19 00:00:00.000' 'kvk' nan
 nan nan nan nan nan nan nan '2009-07-08 11:31:42.733' 0.0]
[4513 'Anna Soffa Sigurlaugsdttir' '1981-10-19 00:00:00.000' 'kvk' 'HSV'
 nan nan nan nan nan nan nan '2014-04-15 23:50:33.760' 0.0]
--------------
KEY: anna BIRTHDAY: 1958-09-06
[2071 'Anna Vilbergsdttir' '1958-09-06 00:00:00.000' 'kvk' 'Stjarnan'
 'anna.vilbergs@internet.is' nan nan nan '663 5090' nan nan
 '2006-04-05 14:22:58.577' nan]
[2903 'Anna Vilbergsdttir' '1958-09-06 00:00:00.000' 'kvk' nan
 'annavilb@vistor.is' nan nan nan '8247184' nan nan
 '2010-01-26 12:16:00.903' nan]
--------------
KEY: anton BIRTHDAY: 1947-02-27
[559 'Anton Bjarnason' '1947-02-27 00:00:00.000' 'kk ' nan 'antonb@khi.is'
 nan nan nan '564 3635' nan nan '2000-05-03 23:23:14.560' nan]
[1800 'Anton Bjarnason' '1947-02-27 00:00:00.000' 'kk ' nan
 'antonb@khi.is' nan nan nan '564 3635' nan nan '2005-04-05 09:35:31.390'
 nan]
--------------
KEY: arnar BIRTHDAY: 1978-12-27
[1617 'Arnar Arnarsson' '1978-12-27 00:00:00.000' 'kk ' nan nan nan nan
 nan nan nan nan '2004-11-02 22:27:39.267' nan]
[3350 'Arnar r Arnarson' '1978-12-27 00:00:00.000' 'kk ' nan nan nan nan
 nan nan nan nan '2011-03-23 21:33:01.530' 0.0]
[3354 'Arnar r Arnarsson' '1978-12-27 00:00:00.000' 'kk ' 'FB' nan nan
 nan nan nan nan nan '2011-03-23 22:24:36.233' 0.0]
--------------
KEY: arnar BIRTHDAY: 1990-01-01
[2936 'Arnar Hrafn Snorrason' '1990-01-01 00:00:00.000' 'kk ' nan
 'arnarh08@menntaborg.is' nan nan nan '8696393' nan nan
 '2010-02-19 17:35:36.217' nan]
[2928 'Arnar r Inglfsson' '1990-01-01 00:00:00.000' 'kk ' nan
 'arnar.ingolfsson@gmail.com' nan nan nan '8654313' nan nan
 '2010-02-19 17:22:11.890' nan]
--------------
KEY: arnbjorg BIRTHDAY: 1965-12-29
[613 'Arnbjrg Gumundsdttir' '1965-12-29 00:00:00.000' 'kvk' 'Vkverji'
 'sjukrathjalfun@reykjalundur.is' nan nan nan nan '5578072' nan
 '2000-04-04 10:52:54.073' nan]
[1035 'Arnbjrg Gumundsdttir' '1965-12-29 00:00:00.000' 'kvk'
 'UMF.Hrunamenn' 'arnbjorg@hotmail.com' nan nan nan nan '557 8072' nan
 '2002-04-05 11:47:39.077' 0.0]
--------------
KEY: arnheidur BIRTHDAY: 1957-04-07
[1702 'Arnheiur E. Sigurardttir' '1957-04-07 00:00:00.000' 'kvk' 'BL'
 nan nan nan nan nan nan nan '2005-02-25 15:47:39.180' nan]
[134 'Arnheiur Sigurardttir' '1957-04-07 00:00:00.000' 'kvk' 'Grtta'
 'arnheidur@terranova.is' nan nan nan nan '568 0225' nan
 '2000-05-02 13:04:31.810' nan]
--------------
KEY: arnheidur BIRTHDAY: 1975-03-11
[1289 'arnheiur gsladttir' '1975-03-11 00:00:00.000' 'kvk' 'S' nan nan
 nan nan nan nan nan '2003-03-04 10:24:48.467' nan]
[3818 'Arnheiur K. Gsladttir' '1975-03-11 00:00:00.000' 'kvk' 'HK'
 'arnheidur.gisladottir@landsbankinn.is' nan nan nan nan '5616401'
 '4108791' '2012-04-20 16:39:19.363' 171.0]
--------------
KEY: arnheidur BIRTHDAY: 1983-03-11
[4031 'Arnheiur Rn Almarsdttir' '1983-03-11 00:00:00.000' 'kvk' nan nan
 nan nan nan nan nan nan '2013-03-20 18:26:39.730' 0.0]
[4470 'Arnheiur Rn Almarsdttir' '1983-03-11 00:00:00.000' 'kvk' nan nan
 nan nan nan nan nan nan '2014-03-26 12:35:20.593' 0.0]
[4471 'Arnheiur Rn Almarsdttir' '1983-03-11 00:00:00.000' 'kvk' nan nan
 nan nan nan nan nan nan '2014-03-26 12:40:51.027' 0.0]
--------------
KEY: arnleif BIRTHDAY: 1970-02-01
[1366 'Arnleif Hskuldsdttir' '1970-02-01 00:00:00.000' 'kvk' 'KA' nan
 nan nan nan '8220270' nan nan '2003-04-01 14:28:35.247' 0.0]
[2213 'Arnleif Hskuldsdttir' '1970-02-01 00:00:00.000' 'kvk'
 'Hrafnkell Freysgoi' 'allasteina@hotmail.com' nan nan nan '8220270'
 '4621670' nan '2007-03-30 16:34:28.623' 0.0]
--------------
KEY: aron BIRTHDAY: 1990-03-18
[2324 'Aron Bjarnason' '1990-03-18 00:00:00.000' 'kk ' 'rttur R' nan nan
 nan nan nan nan nan '2007-09-26 23:34:00.700' nan]
[2499 'Aron Bjarnason' '1990-03-18 00:00:00.000' 'kk ' 'rttur R' nan nan
 nan nan nan nan nan '2008-08-31 20:02:41.967' 189.0]
--------------
KEY: audur BIRTHDAY: 1976-04-04
[4041 'Auur' '1976-04-04 00:00:00.000' 'kvk' 'Fylkir' nan nan nan nan nan
 nan nan '2013-03-25 14:57:31.440' 170.0]
[4042 'Auur sp Jnsdttir' '1976-04-04 00:00:00.000' 'kvk' 'Fylkir'
 'Audurj07@hotmail.com' nan nan nan '8566448' nan nan
 '2013-03-25 14:58:43.630' 170.0]
[4267 'Auur sp Jnsdttir' '1976-04-04 00:00:00.000' 'kvk' 'Fylkir' nan
 nan nan nan nan nan nan '2013-10-21 13:36:18.250' 0.0]
--------------
KEY: audur BIRTHDAY: 1979-04-25
[721 'Auur Aalbjarnardttir' '1979-04-25 00:00:00.000' 'kvk' 'UMFS'
 'audur@dalvik.spar.is' nan nan nan nan '4661663' '4601800'
 '2001-04-07 14:53:37.100' nan]
[699 'Auur Aalbjarnardttir' '1979-04-25 00:00:00.000' 'kvk' 'UMFS'
 'audur@dalvik.spar.is' nan nan nan nan '4661663' '4601800'
 '2001-04-04 14:59:02.343' nan]
[724 'Auur Aalbjarnardttir' '1979-04-25 00:00:00.000' 'kvk' nan
 'auduradal@simnet.is' nan nan nan '8628868' '5523559' nan
 '2001-04-07 14:55:47.110' nan]
--------------
KEY: audur BIRTHDAY: 1993-08-31
[2676 'Auur Anna Jnsdttir' '1993-08-31 00:00:00.000' 'kvk' 'KA'
 '28aaj@ma.is' nan nan nan nan '461-2552' nan '2008-10-14 22:59:21.700'
 185.0]
[2492 'Auur Anna Jnsdttir' '1993-08-31 00:00:00.000' 'kvk'
 'Afturelding' nan nan nan nan nan nan nan '2008-08-31 19:54:34.687' 184.0]
--------------
KEY: audur BIRTHDAY: 1957-05-11
[224 'Auur B Erlendsdttir' '1957-05-11 00:00:00.000' 'kvk' nan nan nan
 nan nan '467-1870' '4671870' nan '2000-05-01 21:28:24.603' nan]
[1760 'Auur Erlendsdttir' '1957-05-11 00:00:00.000' 'kvk' nan nan nan
 nan nan '4671870' nan nan '2005-03-21 10:57:48.073' nan]
--------------
KEY: audur BIRTHDAY: 1974-06-20
[1878 'Auur r rardttir' '1974-06-20 00:00:00.000' 'kvk' nan nan nan
 nan nan nan nan nan '2005-04-18 19:42:31.403' nan]
[2698 'Auur r rardttir' '1974-06-20 00:00:00.000' 'kvk'
 'Afturelding' 'Auur r rardttir(auduryr_@hotmail.com)' nan nan nan
 '692 1182' nan nan '2008-11-07 10:40:39.950' 1.0]
--------------
KEY: axel BIRTHDAY: 1958-06-11
[229 'Axel Gunnlaugsson' '1958-06-11 00:00:00.000' 'kk ' nan nan nan nan
 nan nan nan nan '2000-04-30 17:02:45.687' nan]
[3485 'Axel Gunnlaugsson' '1958-06-11 00:00:00.000' 'kk ' 'S' nan nan nan
 nan nan nan nan '2011-05-03 15:01:40.357' 0.0]
--------------
KEY: agusta BIRTHDAY: 1972-08-05
[1329 'gsta Plsdttir' '1972-08-05 00:00:00.000' 'kvk' 'Skautar' nan
 nan nan nan nan nan nan '2003-03-26 13:48:28.763' nan]
[2244 'gsta Plsdttir' '1972-08-05 00:00:00.000' 'kvk' 'Vlsungur' nan
 nan nan nan nan nan nan '2007-04-02 10:48:18.640' nan]
[2353 'gsta Plsdttir' '1972-08-05 00:00:00.000' 'kvk' nan
 'robrag@mi.is' nan nan nan '464-2844/820-2844' nan nan
 '2007-11-19 22:22:43.250' nan]
--------------
KEY: alfheidur BIRTHDAY: 1957-02-07
[782 'lfheiur Magnsdttir' '1957-02-07 00:00:00.000' 'kvk' 'BL'
 'alf@centrum.is' nan nan nan nan nan nan '2001-04-13 18:34:18.083' nan]
[1707 'lfheiur Magnsdttir' '1957-02-07 00:00:00.000' 'kvk' 'Grtta'
 nan nan nan nan nan nan nan '2005-02-25 15:53:02.697' nan]
--------------
KEY: arni BIRTHDAY: 1990-01-30
[2500 'rni Bjrnsson' '1990-01-30 00:00:00.000' 'kk ' 'KA' nan nan nan
 nan nan nan nan '2008-08-31 20:03:09.810' 183.0]
[2124 'rni Bjrnsson' '1990-01-30 00:00:00.000' 'kk ' 'rttur R'
 '26arb@ma.is' nan nan nan '8659617' '4652217' nan
 '2007-01-02 17:37:00.200' 180.0]
--------------
KEY: arni BIRTHDAY: 1978-04-07
[1285 'rni oroddur Gumundsson' '1978-04-07 00:00:00.000' 'kk '
 'Fleygur' nan nan nan nan nan nan nan '2003-01-24 14:45:54.110' nan]
[1257 'rni roddur Gumundsson' '1978-04-07 00:00:00.000' 'kk ' nan
 'thoroddur@yahoo.com' nan nan nan '8617378' nan nan
 '2002-11-12 21:52:11.847' nan]
--------------
KEY: asa BIRTHDAY: 1960-12-05
[109 'sa rnadttir' '1960-12-05 00:00:00.000' 'kvk' nan
 'asaarn@ismennt.is' nan nan nan '8971631' '4671631' '4603737'
 '2000-05-01 21:40:50.707' nan]
[873 'sa rnadttir' '1960-12-05 00:00:00.000' 'kvk' 'j'
 'asaarn@sigloskoli.is' nan nan nan '4671631' '467-1361' '460-3737'
 '2001-04-17 16:09:53.060' nan]
--------------
KEY: asa BIRTHDAY: 1977-08-24
[3394 'sa Ingibersdttir' '1977-08-24 00:00:00.000' 'kvk' nan nan nan nan
 nan nan nan nan '2011-04-01 12:08:55.153' 0.0]
[3395 'sa Ingibersdttir' '1977-08-24 00:00:00.000' 'kvk' nan nan nan nan
 nan nan nan nan '2011-04-01 12:09:06.763' 0.0]
--------------
KEY: asdis BIRTHDAY: 1970-02-12
[1350 'sds' '1970-02-12 00:00:00.000' 'kvk' nan nan nan nan nan nan nan
 nan '2003-03-31 22:12:46.467' nan]
[251 'sds Sigurardttir' '1970-02-12 00:00:00.000' 'kvk'
 'Hrassamb.Vestfiringa' 'disasiggy@simnet.is' nan nan nan '8983310' nan
 '4565666' '2000-05-01 15:01:57.290' nan]
[1351 'sds Sigurardttir' '1970-02-12 00:00:00.000' 'kvk' 'Bresi'
 'disasiggy@simnet.is' nan nan nan '898-3310' '467-1202' nan
 '2003-03-31 22:24:19.797' nan]
[1467 'sds Sigurardttir' '1970-02-12 00:00:00.000' 'kvk' nan nan nan
 nan nan '8983310' nan nan '2004-02-17 21:08:05.357' nan]
--------------
KEY: asdis BIRTHDAY: 1965-07-04
[2225 'sds Auunsdttir' '1965-07-04 00:00:00.000' 'kvk' 'Fylkir' nan
 nan nan nan nan nan nan '2007-04-01 17:40:44.093' 0.0]
[1382 'sds Eln Auunsdttir' '1965-07-04 00:00:00.000' 'kvk'
 'Umf Austri' nan nan nan nan nan nan nan '2003-04-07 14:21:39.153' 0.0]
--------------
KEY: asdis BIRTHDAY: 1972-06-02
[3330 'sds Erla Jhannesdttir' '1972-06-02 00:00:00.000' 'kvk' nan
 'asdis@myvatn.is' nan nan nan '8610274' '4644412' '4644164'
 '2011-03-17 14:58:24.873' 0.0]
[3329 'sds Erla Jhannesdttir' '1972-06-02 00:00:00.000' 'kvk' nan
 'asdis@myvatn.is' nan nan nan '8610274' nan nan '2011-03-17 14:57:20.513'
 0.0]
[3255 'sds Jhannesdttir' '1972-06-02 00:00:00.000' 'kvk' nan
 'asdis@myvatn.is' nan nan nan '8610274' nan nan '2011-01-06 12:27:06.013'
 nan]
[3256 'sds Jhannesdttir' '1972-06-02 00:00:00.000' 'kvk' 'Nei'
 'asdis@myvatn.is' nan nan nan '8610274' '4644412' '4644164'
 '2011-01-06 12:29:23.560' 168.0]
--------------
KEY: asdis BIRTHDAY: 1963-12-09
[1036 'sds Ingvarsdttir' '1963-12-09 00:00:00.000' 'kvk' 'Vkverji'
 'kjartani@isholf.is' nan nan nan '5886712' '588-6712' nan
 '2002-04-05 11:51:59.560' nan]
[200 'sds Ingvarsdttir' '1963-12-09 00:00:00.000' 'kvk' 'UMF.Hrunamenn'
 'kjartani@isholf.is' nan nan nan '8468883' '5886712' nan
 '2000-04-04 10:54:16.593' 0.0]
--------------
KEY: asdis BIRTHDAY: 1972-01-06
[2904 'sds Linda Sverrisdttir' '1972-01-06 00:00:00.000' 'kvk' nan
 'asdlin@simnet.is' nan nan nan '8941511' nan nan
 '2010-01-27 14:39:13.327' 0.0]
[4236 'sds Linda Sverrisdttir' '1972-01-06 00:00:00.000' 'kvk' nan
 'asdlin@simnet.is' nan nan nan '8941511' nan nan
 '2013-10-13 13:03:34.587' nan]
--------------
KEY: asdis BIRTHDAY: 1960-03-12
[765 'sds Sigurvinsdttir' '1960-03-12 00:00:00.000' 'kvk' 'Akur' nan
 nan nan nan nan nan nan '2001-04-11 15:49:02.193' nan]
[1736 'sds Sigurvinsdttir' '1960-03-12 00:00:00.000' 'kvk' nan
 'asdis@vma.is' nan nan nan '4626259' nan nan '2005-03-16 11:36:29.807'
 nan]
--------------
KEY: asdis BIRTHDAY: 1944-02-06
[770 'sds orvaldsdttir' '1944-02-06 00:00:00.000' 'kvk' 'eik' nan nan
 nan nan nan '462-3070' nan '2001-04-11 18:52:14.493' nan]
[446 'sds orvaldsdttir' '1944-02-06 00:00:00.000' 'kvk' 'Eik' nan nan
 nan nan nan '462-3070' nan '2000-04-04 22:17:20.643' nan]
--------------
KEY: asta BIRTHDAY: 1972-05-24
[3112 'sta Huld Henrysdttir' '1972-05-24 00:00:00.000' 'kvk' nan nan nan
 nan nan nan nan nan '2010-04-15 17:47:12.810' 0.0]
[2102 'sta Huld Henrysdttir' '1972-05-24 00:00:00.000' 'kvk' 'HK' nan
 nan nan nan nan nan nan '2006-04-27 09:05:36.293' 0.0]
--------------
KEY: asta BIRTHDAY: 1966-12-19
[415 'sta Msesdttir' '1966-12-19 00:00:00.000' 'kvk' 'Fylkir'
 'astamoses@simnet.is' nan nan nan '8204131' '567-4131' '569-9000'
 '2000-05-02 18:57:17.453' 0.0]
[3609 'sta Msesdttir' '1966-12-19 00:00:00.000' 'kvk' 'Fylkir'
 'astamoses@simnet.is' nan nan nan '8204131' nan nan
 '2012-01-11 12:56:27.077' 0.0]
--------------
KEY: asthildur BIRTHDAY: 1984-11-10
[1972 'sthildur Gunnarsdttir' '1984-11-10 00:00:00.000' 'kvk'
 'rttur Rvk' 'asg3@hi.is' nan nan nan '6930640' '5882878' nan
 '2006-01-25 17:56:03.483' nan]
[2320 'sthildur Gunnarsdttir' '1984-11-10 00:00:00.000' 'kvk' nan
 'asthildur.gunnarsdottir@gmail.com' nan nan nan '6930640' nan nan
 '2007-09-17 21:42:38.403' nan]
--------------
KEY: astridur BIRTHDAY: 1960-04-30
[1219 'strur S. Valbjrnsdttir' '1960-04-30 00:00:00.000' 'kvk'
 'Fylkir' 'asta@landssamband.is' nan nan nan '697-8090' '551-0929'
 '510-1700' '2002-10-01 16:59:12.920' nan]
[1815 'strur Valbjrnsdttir' '1960-04-30 00:00:00.000' 'kvk' 'Fylkir'
 'asta@landssamband.is' nan nan nan '6978090' '5510929' '5101700'
 '2005-04-07 08:38:09.310' 0.0]
[619 'strur Valbjrnsdttir' '1960-04-30 00:00:00.000' 'kvk' 'bl'
 'asta@landssamband.is' nan nan nan '697-8090' nan '5881300'
 '2000-05-02 12:59:28.923' 0.0]
--------------
KEY: barbara BIRTHDAY: 1968-03-13
[278 'Barbara Meyer' '1968-03-13 00:00:00.000' 'kvk' 'Afturelding'
 'babsyisland@hotmail.com' nan nan nan '896-4446' nan nan
 '2000-05-06 09:14:02.207' nan]
[3039 'Barbara Meyer' '1968-03-13 00:00:00.000' 'kvk' nan nan nan nan nan
 nan nan nan '2010-03-15 09:01:02.860' 0.0]
[3041 'Barbara Meyer' '1968-03-13 00:00:00.000' 'kvk' nan nan nan nan nan
 nan nan nan '2010-03-15 09:04:15.357' 0.0]
--------------
KEY: bea BIRTHDAY: 1960-08-13

--------------
KEY: snaefrid BIRTHDAY: 1966-07-18
[1114 'Snfr Egilson' '1966-07-18 00:00:00.000' 'kvk' nan
 'ivalu@nett.is' nan nan nan nan nan nan '2002-04-15 22:32:02.357' nan]
[4572 'Snfr Egilson' '1966-07-18 00:00:00.000' 'kvk' nan nan nan nan
 nan nan nan nan '2014-04-26 21:39:57.753' 0.0]
--------------
KEY: snaefridur BIRTHDAY: 1966-07-26
[2787 'Snfrur H. Svavarsdttir' '1966-07-26 00:00:00.000' 'kvk' nan nan
 nan nan nan nan nan nan '2009-03-30 22:18:44.547' 0.0]
[1672 'Snfrur Svavarsdttir' '1966-07-26 00:00:00.000' 'kvk' 'Sindri'
 nan nan nan nan nan nan nan '2005-01-27 08:32:16.510' nan]
--------------
KEY: soffia BIRTHDAY: 1968-01-04
[3090 'Soffa Brandsdttir' '1968-01-04 00:00:00.000' 'kvk' 'Httur' nan
 nan nan nan nan nan nan '2010-04-14 15:11:41.310' 0.0]
[3163 'Soffa Gurn Brandsdttir' '1968-01-04 00:00:00.000' 'kvk'
 'Httur' 'soffiabrands@simnet.is' nan nan nan '6960991' nan nan
 '2010-04-26 14:21:30.107' 0.0]
--------------
KEY: somjai BIRTHDAY: 1974-02-05
[1510 'Somjai Sirimekha' '1974-02-05 00:00:00.000' 'kvk' 'Stjarnan'
 'somjai@ahus.is' nan nan nan '6630502' '5573374' nan
 '2004-03-30 10:22:35.467' nan]
[1511 'Somjai Sirimekha' '1974-02-05 00:00:00.000' 'kvk' 'Stjarnan'
 'somjai@ahus.is' nan nan nan '6630502' '5573374' nan
 '2004-03-30 10:24:29.793' nan]
--------------
KEY: soley BIRTHDAY: 1964-01-27
[1360 'Sley Einarsdttir' '1964-01-27 00:00:00.000' 'kvk' 'Stjarnan B'
 'solibad@isl.is' nan nan nan '8981496' '5551496' nan
 '2003-04-01 11:17:06.107' nan]
[558 'Sley Einarsdttir' '1964-01-27 00:00:00.000' 'kvk' 'Stjarnan'
 'solibad@mi.is' nan nan nan '898-1496' nan nan '2000-04-04 19:22:33.903'
 nan]
--------------
KEY: solveig BIRTHDAY: 1965-02-15
[3971 'Slveig  Einarsdttir' '1965-02-15 00:00:00.000' 'kvk' nan
 'esjasol@gmail.com' nan nan nan '848 2173' nan nan
 '2013-01-28 16:38:53.500' nan]
[851 'Slveig Einarsdttir' '1965-02-15 00:00:00.000' 'kvk' nan
 'esjasol@gmail.com' nan nan nan '8482173' nan nan
 '2001-04-17 10:26:14.937' nan]
[316 'Slveig Einarsdttir' '1965-02-15 00:00:00.000' 'kvk' 'Stjarnan B'
 'esjasol@gmail.com' nan nan nan '8482173' nan nan
 '2000-05-01 10:19:35.000' 0.0]
[3934 'slveig einarsdttir' '1965-02-15 00:00:00.000' 'kvk' nan
 'esjasol@gmail.com' nan nan nan '848 2173' nan nan
 '2013-01-06 23:33:40.807' nan]
--------------
KEY: solveig BIRTHDAY: 1974-11-17
[2184 'Slveig Agnarsdttir' '1974-11-17 00:00:00.000' 'kvk' nan
 'blafeld@simnet.is' nan nan nan '8926918' nan nan
 '2007-03-21 13:34:56.233' nan]
[2878 'Slveig Blfeld Agnarsdttir' '1974-11-17 00:00:00.000' 'kvk' nan
 'blafeld@simnet.is' nan nan nan '8926918' nan nan
 '2009-10-20 10:58:36.513' 0.0]
[2879 'Slveig Blfeld Agnarsdttir' '1974-11-17 00:00:00.000' 'kvk' nan
 'blafeld@simnet.is' nan nan nan '8926918' nan nan
 '2009-10-20 10:58:54.920' 0.0]
--------------
KEY: solveig BIRTHDAY: 1944-04-17
[836 'Slveig Gunnarsdttir' '1944-04-17 00:00:00.000' 'kvk' nan
 'solveigg@akureyri.is' nan nan nan '461-1580' nan nan
 '2001-04-15 15:13:53.167' nan]
[1328 'Slveig Gunnarsdttir' '1944-04-17 00:00:00.000' 'kvk' nan nan nan
 nan nan nan nan nan '2003-03-26 13:45:23.060' nan]
--------------
KEY: solveig BIRTHDAY: 1954-07-27
[3075 'Slveig Svavarsdttir' '1954-07-27 00:00:00.000' 'kvk' nan
 'solveig.s@internet.is' nan nan nan '821 2754' '587 1141' nan
 '2010-04-13 13:47:55.937' 0.0]
[3775 'Slveig Svavarsdttir' '1954-07-27 00:00:00.000' 'kvk' nan nan nan
 nan nan nan nan nan '2012-04-02 09:27:47.420' 0.0]
--------------
KEY: stefan BIRTHDAY: 1953-02-05
[2305 'Stefn Aalsteinsson' '1953-02-05 00:00:00.000' 'kk ' nan nan nan
 nan nan nan nan nan '2007-04-27 16:04:30.497' nan]
[1214 'Stefn G. Aalsteinsson' '1953-02-05 00:00:00.000' 'kk ' 'UMFA' nan
 nan nan nan nan nan nan '2002-05-09 14:48:05.577' nan]
--------------
KEY: stefan BIRTHDAY: 1980-09-12
[1412 'Stefn Jhann' '1980-09-12 00:00:00.000' 'kk ' nan nan nan nan nan
 nan nan nan '2003-04-23 14:42:26.200' nan]
[1884 'Stefn Jhann Jhannsson' '1980-09-12 00:00:00.000' 'kk ' nan nan
 nan nan nan nan nan nan '2005-04-19 08:33:30.780' 185.0]
[4223 'Stefn Jhann Jhannsson' '1980-09-12 00:00:00.000' 'kk ' nan nan
 nan nan nan nan nan nan '2013-10-10 14:15:01.677' 0.0]
--------------
KEY: stefan BIRTHDAY: 1972-12-11
[2442 'Stefn Sigursson' '1972-12-11 00:00:00.000' 'kk ' 'UMF. Hrunamenn'
 'stefna@istak.is' nan nan nan nan nan nan '2008-04-09 16:03:20.593' 0.0]
[4553 'Stefn Sigursson' '1972-12-11 00:00:00.000' 'kk ' 'HK'
 '100004392158596@facebook.com' nan nan nan nan nan nan
 '2014-04-21 23:05:51.670' 184.0]
--------------
KEY: steinar BIRTHDAY: 1971-08-25
[2173 'steinar Alfresson' '1971-08-25 00:00:00.000' 'kk ' nan
 'stjf@simnet.is' nan nan nan '8921317' nan nan '2007-03-13 22:25:51.217'
 nan]
[2728 'steinar r Alfresson' '1971-08-25 00:00:00.000' 'kk ' nan
 'stjf@simnet.is' nan nan nan '8921317' nan nan '2009-01-26 21:32:28.187'
 nan]
[2744 'Steinar r Alfresson' '1971-08-25 00:00:00.000' 'kk ' nan
 'stjf@simnet.is' nan nan nan '8921317' nan nan '2009-03-14 20:28:04.827'
 0.0]
--------------
KEY: steindora BIRTHDAY: 1972-03-03
[2000 'Steindra Sigrur Steinsdttir' '1972-03-03 00:00:00.000' 'kvk'
 nan 'steindora.steinsdottir@akranes.is' nan nan nan '8919810' nan nan
 '2006-03-17 13:11:43.810' nan]
[2116 'Steindra Sigrur Steinsdttir' '1972-03-03 00:00:00.000' 'kvk'
 'rttabandalag Akraness' 'steindora.steinsdottir@akranes.is' nan nan
 nan '8919810' nan nan '2006-10-20 23:18:42.090' nan]
--------------
KEY: steinn BIRTHDAY: 1970-05-17
[2380 'Steinn Einarsson' '1970-05-17 00:00:00.000' 'kk ' 'Afturelding'
 'steinn@bakkinn.is' nan nan nan '8214052' nan nan
 '2008-03-28 16:48:46.483' 0.0]
[4316 'Steinn Einarsson' '1970-05-17 00:00:00.000' 'kk ' nan
 'steinn@bakkinn.is' nan nan nan '8214052' nan nan
 '2013-11-05 15:42:17.600' nan]
--------------
KEY: steinunn BIRTHDAY: 1969-04-24
[3628 'Steinunn H. Jnsdttir' '1969-04-24 00:00:00.000' 'kvk' 'KKA'
 'steinunnh@akmennt.is' nan nan nan '8958349' nan nan
 '2012-01-23 10:08:55.270' 0.0]
[2122 'Steinunn Harpa Jnsdttir' '1969-04-24 00:00:00.000' 'kvk' nan nan
 nan nan nan nan nan nan '2006-11-14 19:45:55.450' nan]
[515 'Steinunn Jnsdttir' '1969-04-24 00:00:00.000' 'kvk' 'Bjarmi' nan
 nan nan nan nan nan nan '2000-04-30 11:23:21.977' nan]
--------------
KEY: stoyten BIRTHDAY: 1990-07-08
[2620 'Styten Martin' '1990-07-08 00:00:00.000' 'kk ' 'Hemsedal/TVN' nan
 nan nan nan nan nan nan '2008-08-31 23:11:34.903' 0.0]
[2621 'Styten Martin' '1990-07-08 00:00:00.000' 'kk ' 'Hemsedal/TVN' nan
 nan nan nan nan nan nan '2008-08-31 23:11:36.247' 0.0]
--------------
KEY: sunna BIRTHDAY: 1994-05-29
[4198 'Sunna Sigurveig Thorarensen' '1994-05-29 00:00:00.000' 'kvk'
 'Stjarnan' nan nan nan nan nan nan nan '2013-09-20 15:20:57.963' 0.0]
[4290 'Sunna Thorarensen' '1994-05-29 00:00:00.000' 'kvk' nan nan nan nan
 nan nan nan nan '2013-10-25 18:50:02.010' 0.0]
--------------
KEY: sunna BIRTHDAY: 1990-05-29
[3930 'Sunna Smundsdttir' '1990-05-29 00:00:00.000' 'kvk' nan nan nan
 nan nan nan nan nan '2012-11-21 19:12:40.247' 0.0]
[4087 'Sunna Smundsdttir' '1990-05-29 00:00:00.000' 'kvk' nan
 'sunnasaem@gmail.com' nan nan nan '8468977' nan nan
 '2013-04-02 21:13:14.277' nan]
--------------
KEY: susan BIRTHDAY: 1964-08-23
[1377 'Susan Pavlova' '1964-08-23 00:00:00.000' 'kvk' 'Stjarnan B'
 'gega@mmedia.is' nan nan nan nan '4712808' nan '2003-04-03 10:11:50.310'
 nan]
[1095 'Susan Pavlova' '1964-08-23 00:00:00.000' 'kvk' 'Stjarnan A'
 'gega@mmedia.is' nan nan nan nan nan nan '2002-04-15 13:35:52.107' nan]
--------------
KEY: svala BIRTHDAY: 1961-06-17
[2739 'Svala Vignisdttir' '1961-06-17 00:00:00.000' 'kvk' nan
 'svala@nsa.is' nan nan nan '8240810' nan nan '2009-02-26 12:14:30.903'
 nan]
[1101 'Svala Vignisdttir' '1961-06-17 00:00:00.000' 'kvk' 'Stjarnan'
 'svala@nsa.is' nan nan nan '824 0810' nan nan '2002-04-15 13:52:30.280'
 nan]
[366 'Svala Vignisdttir' '1961-06-17 00:00:00.000' 'kvk' 'Stjarnan A'
 'svala@nsa.is' nan nan nan '824 0810' '476 1513' '5101800'
 '2000-03-31 16:33:13.000' nan]
--------------
KEY: svandis BIRTHDAY: 1974-06-10
[1453 'Svands Jnsdttir' '1974-06-10 00:00:00.000' 'kvk' 'K'
 'svandisjo@isl.is' nan nan nan nan nan nan '2003-12-29 14:37:42.340' nan]
[1518 'Svands Jnsdttir' '1974-06-10 00:00:00.000' 'kvk' 'K' nan nan
 nan nan nan nan nan '2004-03-31 14:43:42.763' nan]
--------------
KEY: svandis BIRTHDAY: 1975-08-02
[3149 'Svands orsteinsdttir' '1975-08-02 00:00:00.000' 'kvk' 'Keflavk'
 'svandis@svei.is' nan nan nan '8673048' '4215363' '8673048'
 '2010-04-20 16:31:19.937' 168.0]
[4381 'Svands orsteinsdttir' '1975-08-02 00:00:00.000' 'kvk' 'Keflavk'
 'svandis@hnh.is' nan nan nan '8673048' '4215363' '8673048'
 '2014-02-10 18:09:55.467' 166.0]
--------------
KEY: svanhildur BIRTHDAY: 1976-10-09
[3875 'Svanhildur D Bjrgvinsdttir' '1976-10-09 00:00:00.000' 'kvk' nan
 'svanab@akmennt.is' nan nan nan '861 1049' nan nan
 '2012-10-19 22:29:26.487' 0.0]
[3874 'Svanhildur Dra Bjrgvinsdttir' '1976-10-09 00:00:00.000' 'kvk'
 'KA' 'svanab@akmennt.is' nan nan nan '8611049' nan nan
 '2012-10-19 20:07:09.050' 0.0]
--------------
KEY: svanhildur BIRTHDAY: 1967-08-30
[628 'Svanhildur Kristjnsdttir' '1967-08-30 00:00:00.000' 'kvk'
 'Gaman og alvara' 'granastadir@emax.is' nan nan nan '8980463' '4643609'
 '8980463' '2000-04-02 15:54:54.533' nan]
[3710 'Svanhildur Kristjnsdttir' '1967-08-30 00:00:00.000' 'kvk'
 'Gaman og alvara' nan nan nan nan '8980463' nan nan
 '2012-03-23 21:10:24.487' 0.0]
--------------
KEY: svanhildur BIRTHDAY: 1962-07-22
[1977 'Svanhildur Skladttir' '1962-07-22 00:00:00.000' 'kvk' nan nan nan
 nan nan nan nan nan '2006-01-30 09:22:05.437' nan]
[3150 'Svanhildur Skladttir' '1962-07-22 00:00:00.000' 'kvk' 'Keflavk'
 'hordur.svanhildur@mi.is' nan nan nan '8486170' '4215141' '4201450'
 '2010-04-20 16:46:36.827' 165.0]
--------------
KEY: svava BIRTHDAY: 1980-05-09
[3365 'Svava Hrund Fririksdttir' '1980-05-09 00:00:00.000' 'kvk' nan
 'solsetur@simnet.is' nan nan nan '8475447' nan nan
 '2011-03-28 20:01:27.873' nan]
[3568 'Svava Hrund Fririksdttir' '1980-05-09 00:00:00.000' 'kvk' nan
 'solsetur@simnet.is' nan nan nan '8475447' nan nan
 '2011-11-23 18:43:48.617' nan]
[3569 'Svava Hrund Fririksdttir' '1980-05-09 00:00:00.000' 'kvk' nan
 'solsetur@simnet.is' nan nan nan '8475447' nan nan
 '2011-11-23 18:52:53.163' nan]
[3572 'Svava Hrund Fririksdttir' '1980-05-09 00:00:00.000' 'kvk'
 'Bjarkir' nan nan nan nan nan nan nan '2011-11-23 19:03:34.757' 0.0]
[3570 'Svava Hrund Fririksdttir' '1980-05-09 00:00:00.000' 'kvk'
 'Bjarkir' 'solsetur@simnet.is' nan nan nan '8475447' nan nan
 '2011-11-23 18:53:11.680' 0.0]
--------------
KEY: sveinbjorg BIRTHDAY: 1969-10-03
[1058 'Sveinbjrg Halldrsdttir' '1969-10-03 00:00:00.000' 'kvk'
 'rttur N' 'sveinkari@isholf.is' nan nan nan '821-6933' '586-8396' nan
 '2002-04-10 09:01:28.060' nan]
[1054 'Sveinbjrg Halldrsdttir' '1969-10-03 00:00:00.000' 'kvk'
 'lftanes' 'sveinkahall@gmail.com' nan nan nan '8402368' nan nan
 '2002-04-09 17:05:41.937' 0.0]
--------------
KEY: sveinn BIRTHDAY: 1973-07-05
[1992 'Sveinn Bjrnsson' '1973-07-05 00:00:00.000' 'kk ' 'A' nan nan nan
 nan nan nan nan '2006-03-09 09:14:31.840' nan]
[2417 'Sveinn Bjrnsson' '1973-07-05 00:00:00.000' 'kk ' nan nan nan nan
 nan nan nan nan '2008-04-01 20:03:22.950' nan]
--------------
KEY: sveinn BIRTHDAY: 1966-07-10
[1044 'Sveinn Valgeirsson' '1966-07-10 00:00:00.000' 'kk ' 'UMFT'
 'stalknanz@simnet.is' nan nan nan '862-5467' nan nan
 '2002-04-07 20:53:31.403' nan]
[2222 'Sveinn Valgeirsson' '1966-07-10 00:00:00.000' 'kk ' 'UMFT'
 'stalknanz@simnet.is' nan nan nan '8625467' '4562696' nan
 '2007-04-01 17:27:57.860' nan]
--------------
KEY: sven BIRTHDAY: 2008-01-01
[2524 'Sven Brix' '2008-01-01 00:00:00.000' 'kk ' nan nan nan nan nan nan
 nan nan '2008-08-31 20:25:16.030' 0.0]
[2547 'Sven Brix' '2008-01-01 00:00:00.000' 'kk ' nan nan nan nan nan nan
 nan nan '2008-08-31 20:46:01.717' 0.0]
[2586 'Sven Brix' '2008-01-01 00:00:00.000' 'kk ' nan nan nan nan nan nan
 nan nan '2008-08-31 22:50:07.483' 0.0]
--------------
KEY: svetlana BIRTHDAY: 1967-05-16
[1447 'Svetlana Alekseyevna' '1967-05-16 00:00:00.000' 'kvk' nan nan nan
 nan nan nan nan nan '2003-11-24 22:33:48.937' nan]
[1854 'Svetlana Moroshkina' '1967-05-16 00:00:00.000' 'kvk' 'Fylkir'
 'moroha@mi.is' nan nan nan '898-3905' nan nan '2005-04-13 08:34:26.060'
 nan]
--------------
KEY: saerun BIRTHDAY: 1997-11-25
[3012 'Srn Halldrsdttir' '1997-11-25 00:00:00.000' 'kvk' nan nan nan
 nan nan nan nan nan '2010-02-25 21:54:33.860' 0.0]
[3013 'Srn Halldrsdttir' '1997-11-25 00:00:00.000' 'kvk' nan nan nan
 nan nan nan nan nan '2010-02-25 21:54:36.077' 0.0]
[3014 'Srn Halldrsdttir' '1997-11-25 00:00:00.000' 'kvk' nan nan nan
 nan nan nan nan nan '2010-02-25 21:54:38.937' 0.0]
--------------
KEY: tania BIRTHDAY: 1980-12-04
[3661 'Tania Li Melado' '1980-12-04 00:00:00.000' 'kvk'
 'Leiknir Fskrsfiri' nan nan nan nan nan nan nan
 '2012-03-13 09:18:34.543' 0.0]
[4478 'Tania Li Melado' '1980-12-04 00:00:00.000' 'kvk'
 'Leiknir Fskrsfiri' nan nan nan nan nan nan nan
 '2014-03-31 08:43:32.003' 0.0]
--------------
KEY: thelma BIRTHDAY: 1971-09-21
[837 'Thelma Kristjnsdttir' '1971-09-21 00:00:00.000' 'kvk' nan nan nan
 nan nan '6994910' nan nan '2001-04-15 15:14:47.480' nan]
[1327 'Thelma Kristjnsdttir' '1971-09-21 00:00:00.000' 'kvk' nan nan nan
 nan nan nan nan nan '2003-03-26 13:42:51.200' nan]
[3218 'Thelma Kristjnsdttir' '1971-09-21 00:00:00.000' 'kvk' nan
 'thelma20@simnet.is' nan nan nan '8994910' nan nan
 '2010-10-05 08:22:33.950' nan]
--------------
KEY: theodora BIRTHDAY: 1989-05-13
[2309 'Thedra rarinsdttir' '1989-05-13 00:00:00.000' 'kvk' 'HK' nan
 nan nan nan '663-5092' nan nan '2007-07-03 21:12:53.403' nan]
[2486 'Thedra rarinsdttir' '1989-05-13 00:00:00.000' 'kvk' 'HK' nan
 nan nan nan nan nan nan '2008-08-31 19:49:42.450' 170.0]
--------------
KEY: tinna BIRTHDAY: 1981-04-23
[4124 'Tinna Ptursdttir' '1981-04-23 00:00:00.000' 'kvk' 'A' nan nan
 nan nan nan nan nan '2013-04-15 23:59:29.917' 0.0]
[4387 'Tinna Ptursdttir' '1981-04-23 00:00:00.000' 'kvk'
 'rttabandalag Akraness' 'tinna_petursdottir@hotmail.com' nan nan nan
 '864-6510' nan nan '2014-02-11 10:20:03.657' 179.0]
--------------
KEY: todor BIRTHDAY: 1977-01-26
[2101 'Todor Marinov' '1977-01-26 00:00:00.000' 'kk ' nan nan nan nan nan
 '8447479' nan nan '2006-04-26 21:46:18.840' nan]
[2138 'Todor Marinov' '1977-01-26 00:00:00.000' 'kk ' nan
 'todor_rock@yahoo.com' nan nan nan '8447479' nan nan
 '2007-01-06 15:34:37.797' nan]
--------------
KEY: una BIRTHDAY: 1970-06-08
[158 'Una  Alds Sigurardttir' '1970-06-08 00:00:00.000' 'kvk' nan
 'unaas@simnet.is' nan nan nan '8916025' '453-6025' '455-6500'
 '2000-04-30 21:26:40.347' nan]
[2400 'Una Alds Sigurardttir' '1970-06-08 00:00:00.000' 'kvk' nan
 'unas@simnet.is' nan nan nan '8916025' nan nan '2008-04-01 00:46:12.153'
 nan]
[2401 'Una Alds Sigurardttir' '1970-06-08 00:00:00.000' 'kvk' nan
 'unas@simnet.is' nan nan nan '891-6025' nan nan '2008-04-01 00:47:09.903'
 nan]
--------------
KEY: una BIRTHDAY: 1991-03-15
[1569 'Una Heimisdttir' '1991-03-15 00:00:00.000' 'kvk' 'KA'
 'unaheimisdottir@hotmail.com' nan nan nan '867-3303' '4622578' nan
 '2004-08-20 10:47:31.047' nan]
[2491 'Una Margrt Heimisdttir' '1991-03-15 00:00:00.000' 'kvk'
 'Afturelding' nan nan nan nan nan nan nan '2008-08-31 19:53:37.373' 165.0]
--------------
KEY: unnur BIRTHDAY: 1975-08-15
[2477 'Unnur Elingsdttir' '1975-08-15 00:00:00.000' 'kvk' 'Fylkir'
 'use@olis.is' nan nan nan '6986233' nan nan '2008-04-30 11:09:05.340' 0.0]
[4043 'Unnur Sigrur Erlingsdttir' '1975-08-15 00:00:00.000' 'kvk'
 'Fylkir' 'use@olis.is' nan nan nan '6986233' nan nan
 '2013-03-25 15:24:46.420' 168.0]
--------------
KEY: unnur BIRTHDAY: 1957-03-25
[780 'Unnur Smundsdttir' '1957-03-25 00:00:00.000' 'kvk' nan nan nan nan
 nan nan nan nan '2001-04-13 18:16:40.347' nan]
[284 'Unnur Smundsdttir' '1957-03-25 00:00:00.000' 'kvk' 'K' nan nan
 nan nan '6902503' nan nan '2000-04-03 20:24:42.170' nan]
--------------
KEY: ulfur BIRTHDAY: 1964-03-11
[1411 'lfur Gumundsson' '1964-03-11 00:00:00.000' 'kk ' nan nan nan nan
 nan nan nan nan '2003-04-23 12:59:09.717' nan]
[364 'lfur Gumundsson' '1964-03-11 00:00:00.000' 'kk ' 'Hyrnan'
 'ulfurg@hotmail.com' nan nan nan '6931624' '4671623' '4671559'
 '2000-05-02 16:36:23.577' nan]
--------------
KEY: valdis BIRTHDAY: 1992-10-09
[4200 'Valds Gumundsdttir' '1992-10-09 00:00:00.000' 'kvk' 'Stjarnan'
 nan nan nan nan nan nan nan '2013-09-20 15:24:24.410' 0.0]
[4288 'Valds Gumundsdttir' '1992-10-09 00:00:00.000' 'kvk' 'Stjarnan'
 nan nan nan nan nan nan nan '2013-10-25 18:48:50.967' 0.0]
--------------
KEY: valdis BIRTHDAY: 1976-02-25
[1946 'Valds Jnsdttir' '1976-02-25 00:00:00.000' 'kvk' 'K' nan nan nan
 nan nan nan nan '2005-10-19 10:35:17.403' nan]
[2005 'Valds Jnsdttir' '1976-02-25 00:00:00.000' 'kvk' 'K'
 'valdis@t.is' nan nan nan nan nan nan '2006-03-22 09:11:12.437' nan]
--------------
KEY: valgeir BIRTHDAY: 1967-10-31
[1215 'Valgeir Hilmarsson' '1967-10-31 00:00:00.000' 'kk ' 'UMFA'
 'valgeir.hilmarsson@marel.com' nan nan nan '8999321' nan nan
 '2002-05-09 14:48:47.640' nan]
[1205 'Valgeir Hilmarsson' '1967-10-31 00:00:00.000' 'kk ' 'Fylkir'
 'valgeir.hilmarsson@marel.is' nan nan nan '8999321' nan nan
 '2002-05-09 14:41:40.857' 0.0]
--------------
KEY: valgeir BIRTHDAY: 1970-03-14
[2766 'Valgeir Steinarsson' '1970-03-14 00:00:00.000' 'kk ' 'Sindri' nan
 nan nan nan '8916353' nan nan '2009-03-28 19:15:04.060' 175.0]
[2767 'Valgeir Steinarsson' '1970-03-14 00:00:00.000' 'kk ' 'Sindri' nan
 nan nan nan '8916353' nan nan '2009-03-28 19:17:24.717' 175.0]
--------------
KEY: valgerdur BIRTHDAY: 1962-07-14
[1480 'Valgerur Andresdttir' '1962-07-14 00:00:00.000' 'kvk' 'Fylkir'
 'vala1407@hotmail.com' nan nan nan '661-6893' '517-1407' nan
 '2004-03-02 23:24:43.247' nan]
[1704 'Valgerur Andrsdttir' '1962-07-14 00:00:00.000' 'kvk' 'Grtta'
 nan nan nan nan nan nan nan '2005-02-25 15:49:52.743' nan]
--------------
KEY: velina BIRTHDAY: 1989-12-11
[2287 'Velina Apostolova' '1989-12-11 00:00:00.000' 'kvk' nan nan nan nan
 nan nan nan nan '2007-04-22 14:19:58.950' nan]
[2487 'Velina Apostolova' '1989-12-11 00:00:00.000' 'kvk' 'Afturelding'
 nan nan nan nan nan nan nan '2008-08-31 19:50:32.140' 174.0]
--------------
KEY: vidar BIRTHDAY: 1961-12-26
[2741 'viar gylfason' '1961-12-26 00:00:00.000' 'kk ' nan 'wez@simnet.is'
 nan nan nan '8940480' nan nan '2009-03-05 07:27:08.013' nan]
[1556 'Viar Gylfason' '1961-12-26 00:00:00.000' 'kk ' nan 'wez@simnet.is'
 nan nan nan '4366747' nan nan '2004-04-22 16:25:15.280' 0.0]
--------------
KEY: vigdis BIRTHDAY: 1975-06-27
[1176 'Vigds Gujnsdttir' '1975-06-27 00:00:00.000' 'kvk' 'J' nan nan
 nan nan nan nan nan '2002-05-02 10:05:15.437' nan]
[1177 'Vigds Gujnsdttir' '1975-06-27 00:00:00.000' 'kvk' 'J'
 'vigdis@lbhi.is' nan nan nan '898 6530' nan nan '2002-05-02 10:19:40.310'
 nan]
--------------
KEY: vigdis BIRTHDAY: 1979-01-22
[2191 'Vigds Gunnarsdttir' '1979-01-22 00:00:00.000' 'kvk' nan
 'isolfur@laekjamot.is' nan nan nan '8951146' nan nan
 '2007-03-22 09:29:05.860' nan]
[2778 'Vigds Gunnarsdttir' '1979-01-22 00:00:00.000' 'kvk' nan
 'isolfur@laekjamot.is' nan nan nan '8951146' nan nan
 '2009-03-30 18:37:41.873' 0.0]
--------------
KEY: vigfus BIRTHDAY: 1997-05-26
[4184 'Vigfs J Hjaltaln' '1997-05-26 00:00:00.000' 'kk ' nan nan nan nan
 nan nan nan nan '2013-09-20 08:08:31.227' 0.0]
[2991 'Vigfs Jnbergsson' '1997-05-26 00:00:00.000' 'kk ' nan
 'vigfs1997@gmail.com' nan nan nan '6951440' '4612518' nan
 '2010-02-25 19:32:28.467' 152.0]
--------------
KEY: vigfus BIRTHDAY: 4889-09-16
[702 'Vigfs rn Gslason' '4889-09-16 00:00:00.000' 'kk ' nan
 'viffi@vortex.is' nan nan nan '8626022' nan nan '2001-04-05 00:01:52.443'
 nan]
[703 'Vigfs rn Gslason' '4889-09-16 00:00:00.000' 'kk ' nan
 'viffi@vortex.is' nan nan nan '8626022' nan nan '2001-04-05 00:10:18.643'
 nan]
--------------
KEY: viggo BIRTHDAY: 1970-12-03
[911 'Vigg  Sigursteinsson' '1970-12-03 00:00:00.000' 'kk ' nan nan nan
 nan nan nan nan nan '2001-04-20 20:30:22.893' nan]

In [ ]:
#dict(duplicated_fdagur_kyn_einstaklingar)

# all duplicates
#duplicate_dict

# all duplicates for lvk
#duplicate_dict["ludvik"]

#duplicate_dict["ludvik"]['1969-03-31'][0]
#duplicate_dict["ludvik"]['1969-03-31'][1]

#duplicate_dict
#dict_removed_single_entries

In [21]:
reverted_back_to_dict = dict(duplicate_dict)
#reverted_back_to_dict

In [23]:
file_path = "json/einstaklingar_map.txt" ## your path variable
#duplicate_dict_json = json.dump(duplicate_dict, codecs.open(file_path, 'w', encoding='utf-8'), separators=(';', ':'), sort_keys=True, indent=4) ### this saves the array in .json format
#json_obj = json.dumps(duplicate_dict, indent = 4)
#dumped = json.dumps(duplicate_dict, cls=NumpyEncoder)
#dumped
#pd.DataFrame(reverted_back_to_dict).to_csv(file_path, encoding='utf-8-sig')
#duplicate_dict_json = json.dump(reverted_back_to_dict, codecs.open(file_path, 'w', encoding='utf-8-sig'))

#json = json.dumps(reverted_back_to_dict)
#f = open(file_path,"w")
#f.write(str(reverted_back_to_dict))
#f.close()

=====================================================================================
=

In [187]:
#FINAL STEP (run after everything is done):

#duplicated people put into it's own csv to be browsed later
pd.DataFrame(duplicated_einstaklingar).to_csv("csv/new/duplicated-einstaklingar.csv", encoding='utf-8-sig')
pd.DataFrame(duplicate_dict).to_csv("json/duplicate-map.json", encoding='utf-8-sig')


#save as new csv inside csv/new
pd.DataFrame(domarar).to_csv("csv/new/blak-domarar.csv", encoding='utf-8-sig')
pd.DataFrame(einstaklingar).to_csv("csv/new/blak-einstaklingar.csv", encoding='utf-8-sig')
pd.DataFrame(forsvarsmenn).to_csv("csv/new/blak-forsvarsmenn.csv.csv", encoding='utf-8-sig')
pd.DataFrame(lid).to_csv("csv/new/blak-lid.csv", encoding='utf-8-sig')
pd.DataFrame(lidimoti).to_csv("csv/new/blak-lidimoti.csv", encoding='utf-8-sig')
pd.DataFrame(lidsmenn).to_csv("csv/new/blak-lidsmenn.csv", encoding='utf-8-sig')
pd.DataFrame(lidsstjorar).to_csv("csv/new/blak-lidsstjorar.csv", encoding='utf-8-sig')
pd.DataFrame(mot).to_csv("csv/new/blak-mot.csv", encoding='utf-8-sig')
pd.DataFrame(thjalfarar).to_csv("csv/new/blak-thjalfarar.csv", encoding='utf-8-sig')